<section id="rentalDetails" *ngIf="property">
  <div class="upper-section">
    <div class="row">
      <div class="col-md-6">
        <img src="{{property.image}}" alt="">
      </div>
      <div class="col-md-6">
        <!-- Will be replaced with map !!!! -->
       <app-map [location]="property.city + ', ' + property.street"></app-map>
      </div>
    </div>
  </div>

  <div class="details-section">
    <div class="row">
      <div class="col-md-8">
        <div class="property">
          <h2 class="rental-type {{property.category}}">{{property.shared ? 'Shared' : 'Whole'}} {{property.category}}</h2>
          <h1 class="rental-title">{{property.title}}</h1>
          <h2 class="rental-city">{{property.city | ucwords}}</h2>
          <div class="rental-room-info">
            <span><i class="fa fa-building"></i>{{property.bedrooms}} bedrooms</span>
            <span><i class="fa fa-user"></i> {{property.bedrooms + 4}} guests</span>
            <span><i class="fa fa-bed"></i> {{property.bedrooms + 2}} beds</span>
          </div>
          <p class="rental-description">
            {{property.description}}
          </p>
          <hr>
          <div class="rental-assets">
            <h3 class="title">Assets</h3>
            <div class="row">
              <div class="col-md-6">
                <span><i class="fa fa-asterisk"></i> Cooling</span>
                <span><i class="fa fa-thermometer"></i> Heating</span>
                <span><i class="fa fa-location-arrow"></i> Iron</span>
              </div>
              <div class="col-md-6">
                <span><i class="fa fa-desktop"></i> Working area</span>
                <span><i class="fa fa-cube"></i> Washing machine</span>
                <span><i class="fa fa-cube"></i> Dishwasher</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4"> BOOKING</div>
    </div>
  </div>
</section>
